.btn{
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    font: inherit;
    color: #ffffff;
    width: 5rem;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.success{
    background: #388e3c;
}
.danger{
    background: #de2f2f;
}